[Unit]
Description=Check for new goster.me feedback every 30 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
RandomizedDelaySec=2min
Persistent=true
Unit=gosterme-feedback-telegram.service

[Install]
WantedBy=timers.target
